.logo {
  width: 7%;
  height: 5%;
}
.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: contain;
}
.cart-img {
  width: 20% !important;
  height: 20% !important;
  object-fit: contain;
}
.cart {
  width: 5%;
  height: 5%;
}
.admin_image {
  width: 30%;
  height: 30%;
  padding-top: 1rem;
}
/* .order-border{
    border: 5px !important;
    border-color: green;
} */
.order-img {
  width: 20% !important;
  height: 20% !important;
  object-fit: contain;
}
.user_image {
  width: 70%;
  padding-top: 1rem;
}
.user-order-img {
  width: 70% !important;
  height: 60% !important;
  object-fit: contain;
}
.banner_image {
  width: 100%;
  height: 400px !important;
}
.product-img {
  width: 15%;
  object-fit: contain;
}
